*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: 'Limelight', cursive;
}

.wrapper_loading{
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: 20;
    background-color: rgb(36, 31, 32);
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 30;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.load_none{
    animation: goIn 150ms ease-out;
    animation-fill-mode: both;
}

/* Upload Imgaes */

.Camera_Modal{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.877);
    height: 100vh;
    width: 100vw;
    z-index: 20;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    min-height: 80px;
    min-width: 80px;
    font-size: 30px;
    text-align: center;
  }

.cube_grid-background{
    background-color: rgba(255, 255, 255, 0.925);
    height: 80vh;
    width: 80vw;
    padding: 20px;
    color: black;
    margin: 5vh auto;
    border-radius: 1rem;
    text-align: center;
}  

.cube_wrapper{
    height: 300px;
    width: 300px;
    margin: 0 auto
}

.color_options{
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    justify-content: center;
}

.color{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
}

/* All color */

#red{
    background-color: #c01629;
}

#white{
    background-color: #dae8e8;
}

#yellow{
    background-color: #dbb60d;
}

#orange{
    background-color: #e95608;
}

#green{
    background-color: #027414;
}

#blue{
    background-color: #053c99;
}

.camera_wrapper{
    background-color: rgba(255, 255, 255, 0.925);
    height: 90vh;
    width: 90vw;
    /* padding: 2vh; */
    color: black;
    margin: 5vh auto;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

.modal_back{
    position: absolute;
    top: -20px;
    left: 10px;
    color: white;
    cursor: pointer;
}

.modal_back:hover{
    color: rgb(104, 104, 248);
}

#video{
    /* width: 100%; */
    height: 250px;
    width: 300px;
    border-radius: 2px;
}

.video_wrapper{
    position: relative;
}

.border{
    position: absolute;
    inset: 25px;
    width: 200px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    outline: 2px solid greenyellow;
    background-color: transparent;
    z-index: 100;
}

.button_covers{
    text-align: center;
    transform: translateY(40px);
}

#submit,
#confirm,
#snap,
#save,
.retry{
    display: inline-block;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 
        6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,
        -6px -6px 8px 0 rgba(0, 0, 0, .25) inset;
    text-shadow: 0 0 1rem white;
    transition: all 100ms ease-out;
    
}

#submit:focus,
#confirm:focus,
#snap:focus,
#save:focus,
.retry:focus{
    outline: none;
}

#submit:hover,
#confirm:hover,
#snap:hover,
#save:hover,
.retry:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.685);
}

#submit:active,
#confirm:active,
#snap:active,
#save:active,
.retry:active{
    transform: translateY(1px) scale(.99);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.466);
}

.snapwork{
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    text-align: center;
}

.img_index{
    font-size: 13px;
    transform: translateY(14px);
    text-transform: uppercase;
}

.img_wrapper{
    transform: translateY(15px);
}

#img{
    object-fit: contain;
    height: 280px;
    width: 280px;
}


.shuffle_modal{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.877);
    height: 100vh;
    width: 100vw;
    z-index: 20;
}


.shuffle_loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: .5rem;
    height: 70vh;
    width: 60vw;
    background-color: rgb(248, 238, 238);
    background-size: cover;
    background-repeat: no-repeat;
}


.wrapper{
    display: flex;
}

.webgl
{   
    outline: none;
    width: 100%;
}

.left_box{
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
    width: 70%;
    background-color: rgba(255, 255, 255, 0.068);
    color: rgb(17, 17, 17);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

/* .page1{
    
}

.page2{

}
 */

 .page3{
     position: relative;
 }

.reshuffle{
    position: absolute;
    top: 1vh;
    left: 5%;
    padding: 4px 4px;
    text-align: center;
    font-family: 'Limelight', cursive;
    border-radius: 1rem;
    border: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 
        6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,
        -6px -6px 8px 0 rgba(0, 0, 0, .25) inset;
    color: white;
    text-shadow: 0 0 1rem white;
    transition: all 100ms ease-out;
} 

.reshuffle:focus{
    outline: none;
}

.reshuffle:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.685);

}

.reshuffle:active{
    transform: translateY(1px) scale(.99);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.466);

}

.none{
    display: none;
}

.right_box{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    height: 25vh;
    border-radius: 2rem 2rem;
    background-color: rgba(201, 201, 201, 0.068);
    overflow-y: auto;
    text-align: center;
}

.right_box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.right_box::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.right_box::-webkit-scrollbar-thumb
{
	background-color: #00000033;
}

.right_box h1{
    margin: .5rem 0 ;
    color: rgb(17, 17, 17);
    /* text-shadow: 0 0 1rem rgb(255, 255, 255); */
}

.button_wrapper{
    padding: 1rem;
    display: inline-block;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.096);
    border-radius: 2rem;
    margin: .5rem .5rem;
    background-color: rgba(66, 66, 66, 0.233);;
}

.button{
    margin: .2rem;
    text-align: center;
    height: 2rem;
    width: 3rem;
    font-family: 'Limelight', cursive;
    border-radius: 1rem;
    border: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 
        6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,
        -6px -6px 8px 0 rgba(0, 0, 0, .25) inset;
    color: white;
    text-shadow: 0 0 1rem white;
    transition: all 100ms ease-out;
}

.button:focus{
    outline: none;
}

.button:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.685);

}

.button:active{
    transform: translateY(1px) scale(.99);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.466);

}

.btn{
    margin: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
    font-family: 'Limelight', cursive;
    border-radius: 1rem;
    border: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 
        6px 6px 8px 0 rgba(255, 255, 255, 0.3) inset,
        -6px -6px 8px 0 rgba(0, 0, 0, .25) inset;
    color: white;
    text-shadow: 0 0 1rem white;
    transition: all 100ms ease-out;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.685);

}

.btn:active{
    transform: translateY(1px) scale(.99);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.466);

}

@media only screen and (max-width: 470px) {
    

    h1{
        font-size:1.5rem ;
    }
    h2{
        font-size:1.3rem ;
    }

    .button_wrapper{
        padding: .2rem .2rem;
        max-width: 200px;
    }
    .button{
        margin: .3rem;
    }
  }

  @keyframes goIn{
    to{
        transform: scale(0);
        display: none;
    }
}