*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.wrapper{
    display: flex;
}

.webgl
{   
    /* position: fixed;
    top: 0;
    left: 0; */
    outline: none;
    width: 70%;
}

.events_box{
    position: fixed;
    top: 30px;
    right: 0;
    width: 30%;
}